/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
node_modules/
dist/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
cordova/platforms
cordova/plugins
thumbs.db
!.gitkeep
